scopeName: 'source.penrose.style'
name: 'Penrose Style'
fileTypes: [
  'sty'
]

patterns: [
  {
      begin: '/\\*'
      end: '\\*/'
      name: 'comment.block.penrose.style'
  }
  {
      begin: '--'
      end: '\n'
      name: 'comment.line.penrose.style'
  }
  {
      match: '\\`[A-z]*\\`'
      name: 'string.quoted.penrose.style'
  }
  {
      match: '(where|with|delete|override)'
      name: 'keyword.other'
  }
  {
      match: '(delete|override)'
      name: 'keyword.operator'
  }
  {
     match: '(\\b(Set|Reals|Real|Point|Function|Interval|OpenInterval|ClosedInterval|LeftClopenInterval|RightClopenInterval|CreateInterval|CreateOpenInterval|CreateClosedInterval|CreateLeftClopenInterval|CreateRightClopenInterval|CreateFunction|Pt|union|intersection|derivativeAtP|derivativeOverD|integral|apply|compose|Bounded|LeftBounded|RightBounded|Unbounded|Compact|Disconnected|Degenerate|Empty|Continuous|Discontinuous|Differentiable|Integrable|Invertible|Monotonic|Decreasing|Increasing|In|In2|Subset|LessThan|ClosedEnd|OpenEnd)\\b)'
     name: 'support.type.penrose.style'
  }
  {
     match: '=\\b([A-Z][A-z]*)\\b{'
     name: 'support.type.penrose.style'
  }

]
